<legend>Search in...</legend>
<ul class="checkboxList" id="sources">
    <li class="singleLine">
        <input type="radio" name="rdoType" id="rdoAll" value="all" /><label for="rdoAll">All</label>
    </li>
    {{#.}}
        <li>
            <input type="checkbox" id="chkSource{{id}}" name="chkSources" value="{{id}}" />
            <label for="chkSource{{id}}">{{name}}</label>
        </li>
    {{/.}}
    <li class="singleLine">
        <input type="checkbox" name="chkNsfw" id="chkNsfw" value="nsfw" />
        <label for="chkNsfw">
            Display not safe for work posts
        </label>
    </li>
</ul>