<div id="viewer">
    <div class="viewer-content"></div>
    <div class="viewer-controls">
        <button class="previous transport">Previous</button>
        <button class="next transport">Next</button>
        <button class="close">&times;</button>
    </div>
</div>