<nav>
    <ul class="primary-nav">
        <li>
            <a href="/login/">Login</a>
        </li>
        <li>
            <a href="/upload/">Upload</a>
        </li>
        <li>
            <a href="/screensaver/">Screensaver</a>
        </li>
        <li class="has-secondary-nav">
            Show Posts From
            <ul id="sources" class="secondary-nav source-list"></ul>
        </li>
        <li class="has-secondary-nav">
            Sort by
            <ul id="sorting" class="secondary-nav">
                <li data-sort="newest">Newest</li>
                <li data-sort="hot">Hot</li>
                <li data-sort="top">Top</li>
            </ul>
        </li>
    </ul>
</nav>