<nav>
    <ul class="primary-nav">
        {{#if user}}
            <li{{#inTestBucket key="userDropDownMenu" value="enabled"}} class="has-secondary-nav user-actions"{{/inTestBucket}}>
                {{#inTestBucket key="userDropDownMenu" value="control"}}Welcome, <a href="/user/{{user.name}}/" class="user-profile">{{user.name}}</a>!{{/inTestBucket}}

                {{#inTestBucket key="userDropDownMenu" value="enabled"}}
                {{user.name}}
                <ul class="secondary-nav user-actions">
                    <li>
                        <a href="/user/{{user.name}}/">View Profile</a>
                    </li>
                    <li class="my-galleries">
                        <a href="/gallery/mine/">My Galleries</a>
                    </li>
                    <li>
                        <a href="/logout/">Logout</a>
                    </li>
                </ul>
                {{/inTestBucket}}
            </li>
            {{#inTestBucket key="userDropDownMenu" value="control"}}
            <li class="my-galleries">
                <a href="/gallery/mine/">My Galleries</a>
            </li>
            {{/inTestBucket}}
        {{/if}}
        {{#unless user}}
            <li>
                <a href="/login/">Login</a>
            </li>
        {{/unless}}
        <li>
            <a href="/upload/" class="upload">Upload</a>
        </li>
        <!--
        <li>
            <a href="/screensaver/">Screensaver</a>
        </li>
        -->
        <li class="has-secondary-nav">
            Show Posts From
            <ul id="sources" class="secondary-nav source-list"></ul>
        </li>
        <li>
            <label for="showNsfw">
                <input type="checkbox" id="showNsfw"{{#if showNsfw}} checked="checked"{{/if}}/> Show NSFW
            </label>
        </li>
        <li>
            <a href="/?dialog=screensaver" class="screensaver">Screensaver</a>
        </li>
        <!--
        <li class="has-secondary-nav">
            Sort by
            <ul id="sorting" class="secondary-nav">
                <li data-sort="newest">Newest</li>
                <li data-sort="hot">Hot</li>
                <li data-sort="top">Top</li>
            </ul>
        </li>
        -->
    </ul>
</nav>

<button class="open-menu">Open Menu</button>