<div class="search">
    <span class="textSearch">
        <input type="text" name="search" placeholder="Search keywords/image URL" />
    </span>
    <button id="btnUploadSearch">Search by Upload</button>
</div>