<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body class="no-sources">
    <h1>Uh oh...</h1>
    <p>It looks like you don't have any sources yet. Go into the database and add some!</p>
  </body>
</html>