<li data-id="{{id}}">
    <img src="{{thumb}}_150_150.jpg" alt="thumbnail" />
    <input type="hidden" name="path[]" value="{{id}}" />
    <input type="text" name="caption[]" placeholder="Image Caption" class="caption" />
    <input type="text" bane="source[]" placeholder="Image Source URL" />
    <button type="button" class="findSource">Find Source</button>
    <button type="button" class="remove">Remove</button>
</li>