<li data-id="{{uploadId}}" class="repost">
    <img src="{{thumb}}_150_150.jpg" alt="thumbnail" />
    <p>It looks like this image has already been posted to {{#each identical}}{{.}}{{#sep}}, {{/sep}}{{/each}}. Would you like to add it anyways?</p>
    <button type="button" class="repostImage">Yes</button>
    <button type="button" class="remove">Remove</button>
</li>