@import "mixins";

.filters {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  overflow: hidden;
  cursor: default;
  position: relative;
  @include border-box();

  &.modal {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: 101;
  }

  h3 {
    font: 18px 'MG Regular', sans-serif;
    margin-bottom: 8px;
  }

  label {
    cursor: pointer;
  }

  input[type="checkbox"] {
    position: absolute;
    left: -9999px;
    top: -9999px;

    & + label {
      position: relative;
      font: 18px 'MG Thin', sans-serif;
      padding-left: 20px;
      &:before {
        content: '';
        display: block;
        width: 11px;
        height: 11px;
        border: 1px solid #ddd;
        position: absolute;
        left: 0;
        bottom: 3px;
      }
    }

    &:checked + label:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 8px;
      width: 12px;
      height: 5px;
      border-left: 3px solid $PINK;
      border-bottom: 3px solid $PINK;
      transform: rotate(-45deg);
      border-radius: 2px;
    }

  }

  ul {
    list-style: none;
    overflow: hidden;
    padding-bottom: 10px;
  }

  li {
    width: 200px;
    float: left;
    padding-bottom: 4px;
    &.full-width {
      clear: both;
      width: 100%;
    }
  }

  .filters-section {

    &.sizes-filter {
      width: 25%;
      li {
        width: 100%;
      }
    }
  }

  .filters-foot {
    position: absolute;
    top: 20px;
    right: 20px;

    button {
      color: #fff;
      border-color: transparent;
      margin-left: 20px;
      background-color: $PINK;
    }

  }

  &.fancy-filters {
    li {
      width: 50%;
    }
    .filters-section {
      width: 75%;
      float: left;
    }
  }

}