$LIGHT_GREY: #eee;
$GREY: #ddd;
$DARK_GREY: #666;
$PINK: #e94e77;
$YELLOW: #ffed77;
$DARK_YELLOW: #736400;

// reddit colors
$DOWN_VOTE: #a194ff;
$UP_VOTE: #ff8b60;
$NO_VOTE: #c6c6c6;

$BASE_ARROW_SIZE: 8px;

$NAV_INDEX: 100;

@mixin image-text($background, $width, $height) {
  overflow: hidden;
  width: $width;
  height: 0;
  padding-top: $height;
  display: block;
  background: $background no-repeat;
}

@mixin hide-element() {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

@mixin center-block() {
  margin: 0 auto;
}

@mixin border-box() {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Taken from: https://gist.github.com/thbar/1319313
 */
@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);

  /* IE */
  background-image: -ms-linear-gradient(top, $from 0%, $to 100%);
  filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr="$from", endColorstr="$to")';

}

@mixin image-shadow() {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

@mixin image-label($label, $position: left) {
  @if $position == 'left' {
    &:before {
        font: 14px/1 'MG Regular', sans-serif;
        color: #000;
        content: $label;
        display: block;
        background: #fff;
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 10px 10px 8px;
        border-radius: 2px;
        @include image-shadow();
        z-index: 99;
    }
  } @else {
    &:after {
        font: 14px/1 'MG Regular', sans-serif;
        color: #000;
        content: $label;
        display: block;
        background: #fff;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px 10px 8px;
        border-radius: 2px;
        @include image-shadow();
    }
  }
}

@mixin modal() {
  display: none;
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

@mixin fullscreen() {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

@mixin transition($speed: 200ms) {
  -webkit-transition: all $speed linear;
  -moz-transition: all $speed linear;
  -o-transition: all $speed linear;
  -ms-transition: all $speed linear;
  transition: all $speed linear;
}