@import "mixins";

@font-face {
    font-family: 'MG Regular';
    src: url('/static/fonts/mission_gothic_regular-webfont.eot');
    src: url('/static/fonts/mission_gothic_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/mission_gothic_regular-webfont.woff') format('woff'),
         url('/static/fonts/mission_gothic_regular-webfont.ttf') format('truetype'),
         url('/static/fonts/mission_gothic_regular-webfont.svg#mission_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MG Thin';
    src: url('/static/fonts/mission_gothic_thin-webfont.eot');
    src: url('/static/fonts/mission_gothic_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/mission_gothic_thin-webfont.woff') format('woff'),
         url('/static/fonts/mission_gothic_thin-webfont.ttf') format('truetype'),
         url('/static/fonts/mission_gothic_thin-webfont.svg#mission_gothicthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

$lightGrey: #eee;
$grey: #ddd;
$darkGrey: #666;
$pink: #e94e77;

// Itty bitty reset
* {
    margin: 0;
    padding: 0;
}

header {

    position: fixed;
    background: url(/static/images/sidebar_bg.png);
    border-right: 1px solid #ddd;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 20px 15px;
    border-bottom: 1px solid $grey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1000;

    h1 {
        font: 36px/1 'MG Thin', sans-serif;
        float: left;
    }

    .search {
        float: right;
        .textSearch {
            position: relative;
            padding-right: 25px;
            input {
                font: 18px/1 'MG Thin', sans-serif;
                padding: 10px 10px 5px;
                border: 1px solid $grey;
                border-radius: 2px;
                width: 250px;
            }
            &:after {
                font: bold 24px sans-serif;
                content: '\00b7';
                display: block;
                position: absolute;
                right: 10px;
                top: -7px;
                color: $darkGrey;
            }
        }

        [type="file"] {
            position: absolute;
            left: -9999px;
            top: -9999px;
        }

        button {
            border-radius: 2px;
            border: 1px solid $grey;
            background: $lightGrey;
            color: $darkGrey;
            padding: 10px 10px 5px;
            font: 18px/1 'MG Thin', sans-serif;
            cursor: pointer;
        }

    }

    nav {
        float: left;
    }

    .primary-nav {

        margin-left: 20px;

        > li {

            font: 18px/1 'MG Regular', sans-serif;
            
            position: relative;
            display: inline-block;
            border: 1px solid transparent;
            padding: 10px;

            a {
                color: #000;
                text-decoration: none;
            }

            .secondary-nav {
                list-style: none;
                display: none;
                position: absolute;
                left: -1px;
                top: 37px;
                background: #fff;
                border: 1px solid $grey;
                padding: 10px;
                box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);

                &.source-list {
                    width: 400px;
                    overflow: hidden;
                    li {
                        float: left;
                        width: 170px;
                        padding: 5px;
                    }
                }

                input,
                label {
                    font-family: 'MG Thin', sans-serif;
                    cursor: pointer;
                }

            }


            &.has-secondary-nav:hover {
                &:before {
                    display: block;
                    position: absolute;
                    content: '';
                    top: 0;
                    left: -1px;
                    bottom: 0;
                    right: 0;
                    background: #fff;
                    border: 1px solid $grey;
                    border-bottom: 0;
                    clip: rect(0, 155px, 38px, -1px);
                    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
                    z-index: -1;
                }
                .secondary-nav {
                    display: block;
                    z-index: -2;
                }
            }
        }

    }

}

#content {
    padding: 0 10px;
    margin-top: 86px;
}

#title {
    font: 30px/1 'MG Thin', sans-serif;
    padding: 15px 0 10px 15px;
}

#images {
    .image-row {
        overflow: hidden;
        margin-bottom: 10px;
        padding: 5px 0;
        .image {
            display: block;
            border: 0;
            text-decoration: none;
            position: relative;
            float: left;
            margin-left: 20px;
            height: 250px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
            background-size: cover;
            background-position: center center;

            .nsfw {
                display: block;
                position: absolute;
                top: -30px;
                left: -30px;
                bottom: -30px;
                right: -30px;
                -webkit-filter: blur(15px);
                clip: rect(30px, 30px, 90px, 90px);
            }

            &:first-child {
                margin-left: 0;
            }

            .information {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.75);
                overflow: hidden;

                dt {
                    position: absolute;
                    left: -9999px;
                    top: -9999px;
                }

                dd {
                    color: #fff;
                    padding: 5px 10px;
                    font: 14px/1 'MG Thin';
                    letter-spacing: 1px;

                    &.score {
                        float: right;
                        background: url(/static/images/upvotes.png) no-repeat left 7px;
                        padding-left: 12px;
                    }

                    &.sub {
                        float: left;
                    }

                }

            }

        }
    }

    .more-row {
        border-top: 1px solid $grey;
        position: relative;

        button {
            border: 0;
            background: none;
            font: 18px/1 'MG Thin', sans-serif;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            cursor: pointer;

            &:after {
                display: block;
                content: '';
                position: absolute;
                left: 50%;
                margin-left: -7px;
                bottom: 10px;
                border: 7px solid transparent;
                border-top-color: $pink;
            }

        }
    }

}