/**
 * Taken from: https://gist.github.com/thbar/1319313
 */
@font-face {
  font-family: 'MG Regular';
  src: url('/static/fonts/mission_gothic_regular-webfont.eot');
  src: url('/static/fonts/mission_gothic_regular-webfont.eot?#iefix') format('embedded-opentype'), url('/static/fonts/mission_gothic_regular-webfont.woff') format('woff'), url('/static/fonts/mission_gothic_regular-webfont.ttf') format('truetype'), url('/static/fonts/mission_gothic_regular-webfont.svg#mission_gothicregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MG Thin';
  src: url('/static/fonts/mission_gothic_thin-webfont.eot');
  src: url('/static/fonts/mission_gothic_thin-webfont.eot?#iefix') format('embedded-opentype'), url('/static/fonts/mission_gothic_thin-webfont.woff') format('woff'), url('/static/fonts/mission_gothic_thin-webfont.ttf') format('truetype'), url('/static/fonts/mission_gothic_thin-webfont.svg#mission_gothicthin') format('svg');
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

body {
  padding-top: 86px; }

header {
  position: fixed;
  background: url(/static/images/sidebar_bg.png);
  border-right: 1px solid #dddddd;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 20px 15px;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1000; }
  header h1 {
    font: 36px/1 'MG Thin', sans-serif;
    float: left; }
  header .search {
    float: right; }
    header .search .textSearch {
      position: relative;
      padding-right: 25px; }
      header .search .textSearch input {
        font: 18px/1 'MG Thin', sans-serif;
        padding: 10px 10px 5px;
        border: 1px solid #dddddd;
        border-radius: 2px;
        width: 250px; }
      header .search .textSearch:after {
        font: bold 24px sans-serif;
        content: '\00b7';
        display: block;
        position: absolute;
        right: 10px;
        top: -7px;
        color: #666666; }
    header .search [type="file"] {
      position: absolute;
      left: -9999px;
      top: -9999px; }
    header .search button {
      border-radius: 2px;
      border: 1px solid #dddddd;
      background: #eeeeee;
      color: #666666;
      padding: 10px 10px 5px;
      font: 18px/1 'MG Thin', sans-serif;
      cursor: pointer; }
  header nav {
    float: left; }
  header .primary-nav {
    margin-left: 20px; }
    header .primary-nav > li {
      font: 18px/1 'MG Regular', sans-serif;
      position: relative;
      display: inline-block;
      border: 1px solid transparent;
      padding: 10px; }
      header .primary-nav > li a {
        color: black;
        text-decoration: none; }
      header .primary-nav > li .secondary-nav {
        list-style: none;
        display: none;
        position: absolute;
        left: -1px;
        top: 37px;
        background: white;
        border: 1px solid #dddddd;
        padding: 10px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5); }
        header .primary-nav > li .secondary-nav.source-list {
          width: 400px;
          overflow: hidden; }
          header .primary-nav > li .secondary-nav.source-list li {
            float: left;
            width: 170px;
            padding: 5px; }
        header .primary-nav > li .secondary-nav input, header .primary-nav > li .secondary-nav label {
          font-family: 'MG Thin', sans-serif;
          cursor: pointer; }
      header .primary-nav > li.has-secondary-nav:hover:before {
        display: block;
        position: absolute;
        content: '';
        top: 0;
        left: -1px;
        bottom: 0;
        right: 0;
        background: white;
        border: 1px solid #dddddd;
        border-bottom: 0;
        clip: rect(0, 155px, 38px, -1px);
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
        z-index: -1; }
      header .primary-nav > li.has-secondary-nav:hover .secondary-nav {
        display: block;
        z-index: -2; }

#content {
  padding: 0 10px; }

#title {
  font: 30px/1 'MG Thin', sans-serif;
  padding: 15px 0 10px 15px; }
  #title.hidden {
    display: none; }

#images .image-row {
  overflow: hidden;
  margin-bottom: 10px;
  padding: 5px 0; }
  #images .image-row .image {
    display: block;
    border: 0;
    text-decoration: none;
    position: relative;
    float: left;
    margin-left: 20px;
    height: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-position: center center;
    overflow: hidden; }
    #images .image-row .image.nsfw:after {
      font: 14px/1 'MG Regular', sans-serif;
      color: black;
      content: 'NSFW';
      display: block;
      background: white;
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 10px 10px 8px;
      border-radius: 2px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); }
    #images .image-row .image.nsfw:hover .nsfw {
      display: none; }
    #images .image-row .image .nsfw {
      display: block;
      position: absolute;
      min-width: 125%;
      top: -30px;
      left: -30px;
      bottom: -30px;
      right: -30px;
      -webkit-filter: blur(15px); }
    #images .image-row .image:first-child {
      margin-left: 0; }
    #images .image-row .image .information {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.75);
      overflow: hidden; }
      #images .image-row .image .information dt {
        position: absolute;
        left: -9999px;
        top: -9999px; }
      #images .image-row .image .information dd {
        color: white;
        padding: 5px 10px;
        font: 14px/1 'MG Thin';
        letter-spacing: 1px; }
        #images .image-row .image .information dd.score {
          float: right;
          background: url(/static/images/upvotes.png) no-repeat left 7px;
          padding-left: 12px; }
        #images .image-row .image .information dd.sub {
          float: left; }
#images .more-row {
  border-top: 1px solid #dddddd;
  position: relative; }
  #images .more-row button {
    border: 0;
    background: none;
    font: 18px/1 'MG Thin', sans-serif;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer; }
    #images .more-row button:after {
      display: block;
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -7px;
      bottom: 10px;
      border: 7px solid transparent;
      border-top-color: #e94e77; }

#supporting {
  display: none; }
  #supporting.hasContent {
    display: block;
    float: left;
    width: 300px;
    margin-left: 10px; }
    #supporting.hasContent + #content {
      margin-left: 310px; }
  #supporting h2 {
    font: 30px/1 'MG Thin', sans-serif;
    margin: 15px 0 10px; }
  #supporting h3 {
    font: 18px/1 'MG Regular', sans-serif;
    margin: 15px 0 10px; }
  #supporting p {
    font: 18px/1.4 'MG Thin', sans-serif;
    margin: 5px 0; }
  #supporting a {
    color: #e94e77;
    text-decoration: none; }
    #supporting a:hover {
      text-decoration: underline; }
  #supporting .userProfile .avatar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); }
  #supporting .userProfile table {
    font: 18px/1 'MG Thin', sans-serif;
    display: block;
    width: 100%; }
    #supporting .userProfile table thead {
      position: absolute;
      left: -9999px;
      top: -9999px; }
    #supporting .userProfile table tr {
      overflow: hidden;
      display: block;
      width: 250px;
      margin-bottom: 10px; }
    #supporting .userProfile table td {
      display: block; }
      #supporting .userProfile table td.thumb {
        float: left;
        padding-right: 10px; }
        #supporting .userProfile table td.thumb img {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); }
      #supporting .userProfile table td.keywords {
        font-family: 'MG Regular'; }
