@import "mixins";
@import "filters";
@import "upload";

@-webkit-keyframes imageFadeOut {
    0% { opacity: 100%; }
    100% { opacity: 70%; }
}
@-moz-keyframes imageFadeOut {
    0% { opacity: 100%; }
    100% { opacity: 70%; }
}
@-o-keyframes imageFadeOut {
    0% { opacity: 100%; }
    100% { opacity: 70%; }
}
@keyframes imageFadeOut {
    0% { opacity: 100%; }
    100% { opacity: 70%; }
}

// Itty bitty reset
* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 56px;

    &:after {
        display: block;
        opacity: 0;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
        -moz-transition: none;
    }

    &.modal-open:after {
        display: block;
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #000;
        opacity: 0.7;
        z-index: $NAV_INDEX;
    }
}

input {

    &[type="text"] {
        font: 18px/1 'MG Thin', sans-serif;
        padding: 10px 10px 5px;
        border: 1px solid $GREY;
        border-radius: 2px;
        width: 250px;
    }

    &[type="file"] {
        position: absolute;
        left: -9999px;
        top: -9999px;
    }

}

button {
    border-radius: 2px;
    border: 1px solid $GREY;
    background: $LIGHT_GREY;
    color: $DARK_GREY;
    padding: 8px 10px 7px;
    font: 18px/1 'MG Thin', sans-serif;
    cursor: pointer;
    &.primary {
        color: #fff;
        background: $PINK;
        border-color: transparent;
    }
}

a {
    color: $PINK;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

}

header {

    position: fixed;
    border-right: 1px solid #ddd;
    background: #333;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 20px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: $NAV_INDEX;

    h1 {
        font: 28px/1 'MG Thin', sans-serif;
        float: left;
        position: relative;
        top: 6px;
        a {
            text-decoration: none;
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .search {
        float: right;
        .textSearch {
            position: relative;
            padding-right: 25px;
            &:after {
                font: bold 24px sans-serif;
                content: '\00b7';
                display: block;
                position: absolute;
                right: 10px;
                top: -7px;
                color: $GREY;
            }
        }

        button {
            background: $DARK_GREY;
            color: #fff;
            border: 0;
            padding-top: 7px;
        }

    }

    nav {
        float: left;
    }

    .open-menu {
        display: none;
    }

    .primary-nav {

        margin-left: 20px;
        position: relative;
        top: 2px;

        > li {

            font: 18px/1 'MG Regular', sans-serif;

            position: relative;
            display: inline-block;
            border: 1px solid transparent;
            padding: 10px;

            &.my-galleries:after {
                content: '|';
                padding-left: 20px;
            }

            a {
                color: #fff;
                text-decoration: none;
                &.user-profile {
                    color: $PINK;
                }
            }

            .secondary-nav {
                list-style: none;
                display: none;
                position: absolute;
                left: -1px;
                top: 37px;
                background: #fff;
                border: 1px solid $GREY;
                padding: 10px;
                box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);

                a {
                  color: #000;
                }

                &.user-actions {
                    width: 150px;
                    li {
                        padding: 10px 0 0;
                        &:first-child {
                            padding-top: 0;
                        }
                    }
                }

                &.source-list {
                    margin-left: -20px;
                }

                input,
                label {
                    font-family: 'MG Thin', sans-serif;
                    cursor: pointer;
                }

            }


            &.has-secondary-nav {

                position: relative;
                padding-right: 17px;

                &:after {
                    content: '';
                    display: block;
                    border: 5px solid transparent;
                    border-top-color: #fff;
                    position: absolute;
                    right: 0;
                    top: 17px;
                }

                &:hover {
                    cursor: pointer;
                    color: #000;
                    &:before {
                        display: block;
                        position: absolute;
                        content: '';
                        top: 0;
                        left: -1px;
                        bottom: 0;
                        right: -10px;
                        background: #fff;
                        border: 1px solid $GREY;
                        border-bottom: 0;
                        clip: rect(0, 175px, 38px, -1px);
                        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
                        z-index: -1;
                    }

                    &:after {
                        border-top-color: #000;
                    }

                    .secondary-nav {
                        display: block;
                        z-index: -2;
                    }
                }
            }
        }

    }

}

#content {
    padding: 0 10px;

    .contentTitle {
        overflow: hidden;
    }

    #title {
        font: 30px/1 'MG Thin', sans-serif;
        padding: 15px 0 10px;
        float: left;
        &.hidden {
            display: none;
        }
    }

    #clearSearch {
        border: 0;
        background: transparent;
        font: 14px/1 'MG Thin', sans-serif;
        color: $DARK_GREY;
        cursor: pointer;
        display: none;
        padding-left: 20px;
        position: relative;
        top: 24px;
    }

}

#images {
    .image-row {
        overflow: hidden;
        margin-bottom: 10px;
        padding: 5px 0;
        .image {
            display: block;
            border: 0;
            text-decoration: none;
            position: relative;
            float: left;
            margin-left: 20px;
            height: 250px;
            @include image-shadow();
            background-size: cover;
            background-position: center center;
            overflow: hidden;

            .blurred {
                display: none;
            }

            .hideNsfw &.nsfw {
                @include image-label('NSFW');
                &:hover .blurred {
                    display: none;
                }
            }

            .hideNsfw & .blurred,
            &.hidden .blurred {
                display: block;
                position: absolute;
                min-width: 125%;
                min-height: 125%;
                top: -30px;
                left: -30px;
                bottom: -30px;
                right: -30px;
                filter: url(/static/scss/filters.svg#nsfwBlur);
                -ms-filter: blur(15px);
                -webkit-filter: blur(15px);
            }

            &.hidden {
                @include image-label('DELETED', right);
                &:hover .blurred {
                    display: none;
                }
            }

            &:first-child {
                margin-left: 0;
            }

            .information {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.75);
                overflow: hidden;

                dt {
                    position: absolute;
                    left: -9999px;
                    top: -9999px;
                }

                dd {
                    color: #fff;
                    padding: 5px 10px;
                    font: 14px/1 'MG Thin';
                    letter-spacing: 1px;

                    &.score {
                        float: right;
                        background: url(/static/images/upvotes.png) no-repeat left 7px;
                        padding-left: 12px;
                    }

                    &.posted {
                        float: right;
                    }

                    &.sub {
                        float: left;
                    }

                }

            }

        }
    }

    .more-row {
        border-top: 1px solid $GREY;
        position: relative;

        button {
            border: 0;
            background: none;
            font: 18px/1 'MG Thin', sans-serif;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            cursor: pointer;

            &:after {
                display: block;
                content: '';
                position: absolute;
                left: 50%;
                margin-left: -7px;
                bottom: 10px;
                border: 7px solid transparent;
                border-top-color: $PINK;
            }

        }
    }

    // Galleries
    &.gallery {
        .curated {
            font: 18px 'MG Thin', sans-serif;
        }
        .gallery-image {
            display: table;
            margin: 0 auto 25px;
            img {
                max-width: 100%;
                display: block;
                @include image-shadow();
            }
            p {
                padding: 10px 0;
                font: 18px 'MG Thin', sans-serif;
                a {
                    color: $PINK;
                    text-decoration: none;
                }
            }
        }
    }

}

button.singleSourceSearch {
    background: 0;
    border: 0;
    font: 18px/1 'MG Thin', sans-serif;
    color: $PINK;
    display: inline;
    cursor: pointer;
    padding: 0;
    &:hover {
        text-decoration: underline;
    }
}

#supporting {
    display: none;
    &.hasContent {
        display: block;
        float: left;
        width: 300px;
        margin-left: 10px;

        & + #content {
            margin-left: 310px;
        }

    }

    h2 {
        font: 30px/1 'MG Thin', sans-serif;
        margin: 15px 0 10px;
    }

    h3 {
        font: 18px/1 'MG Regular', sans-serif;
        margin: 15px 0 10px;
    }

    p {
        font: 18px/1.4 'MG Thin', sans-serif;
        margin: 5px 0;
    }

    a {
        color: $PINK;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .userProfile {
        .avatar {
            @include image-shadow();
        }

        table {

            font: 18px/1 'MG Thin', sans-serif;
            display: block;
            width: 100%;

            thead {
                @include hide-element();
            }

            tr {
                overflow: hidden;
                display: block;
                width: 250px;
                margin-bottom: 10px;
            }

            td {
                display: block;
                &.thumb {
                    float: left;
                    padding-right: 10px;
                    img {
                        @include image-shadow();
                    }
                }

                &.keywords {
                    font-family: 'MG Regular';
                }

            }
        }

    }

}

.searchDetails {
    img {
        @include image-shadow();
    }

    p {
        margin: 10px 0;
        &.posted {
            background: $YELLOW;
            color: $DARK_YELLOW;
            border: 1px solid $DARK_YELLOW;
            border-radius: 2px;
            padding: 10px;
        }
    }

    #postImage {
        margin-top: 10px;
        width: 100%;
    }

}

#dragdrop {

    @include modal();
    border: 5px dashed $DARK_GREY;
    background: $GREY;
    opacity: 0.9;
    border-radius: 5px;
    z-index: $NAV_INDEX + 10;

    div {
        font: 30px/1 'MG Regular', sans-serif;
        box-sizing: border-box;
        width: 50%;
        height: 100%;
        float: left;

        &:first-child {
            border-right: 5px dashed $DARK_GREY;
        }

        &.hover {
            background: $PINK;
        }

        p {
            text-align: center;
            position: relative;
            top: 50%;
            margin-top: -12px;
        }

    }

}

.user-galleries {

    list-style: none;

    li {
        overflow: hidden;
        margin-bottom: 20px;
    }

    img {
        float: left;
        @include image-shadow();
        margin-right: 20px;
    }

    h3 {
        font: 24px/1 'MG Thin', sans-serif;
        padding-top: 3px;
        margin-bottom: 5px;
    }

    p {
        font: 16px/1 'MG Regular', sans-serif;
    }

    .edit-album {
        border: 0;
        height: 22px;
        width: 0;
        overflow: hidden;
        color: #fff;
        background: none;
        position: relative;
        &:before {
            display: block;
            content: '';
            height: 20px;
            width: 20px;
            background: url(/static/images/edit.png) no-repeat center center;
            position: absolute;
            top: 6px;
            left: 0;
        }
    }

    .view-gallery {
        font: 18px 'MG Thin', sans-serif;
        padding: 10px 10px 10px 0;
        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;
            border: 5px solid transparent;
            border-left: 5px solid $PINK;
            top: 16px;
            right: -5px;
        }
    }

}

#viewer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.97);
    z-index: $NAV_INDEX + 1;
    padding: 20px 40px 20px 20px;

    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;

    &.open {
        opacity: 1;
    }

    h2 {
        font: 24px 'MG Regular', sans-serif;
        color: #fff;
        margin-bottom: 15px;
    }

    h3 {
        color: #fff;
        font: 18px 'MG Thin', sans-serif;
        margin-bottom: 10px;
    }

    p {
        color: #fff;
        font: 18px 'MG Thin', sans-serif;
    }

    // Have the image fill the screen but not be visible
    // This allows the background to take care of centering while
    // still allowing right click actions such as save, open in new tab, etc
    img {
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .post-image {
        @include border-box();
        float: left;
        width: 75%;
        height: 100%;
        padding-right: 10px;
        position: relative;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .hideNsfw & .nsfw {
        @include image-label('NSFW. Click + hold to view or enable "Show NSFW"', center);
        .post-image {
            filter: url(/static/scss/filters.svg#nsfwBlur);
            -ms-filter: blur(15px);
            -webkit-filter: blur(15px);
        }

        &:active {
            &:before {
                display: none;
            }
            .post-image {
                filter: none;
                -ms-filter: none;
                -webkit-filter: none;
            }
        }

    }

    &.loading {
        background-image: url(/static/images/loading.gif);
        background-repeat: no-repeat;
        background-position: center center;

        img {
            -webkit-animation: imageFadeOut 1s;
            -moz-animation: imageFadeOut 1s;
            -o-animation: imageFadeOut 1s;
            animation: imageFadeOut 1s;
        }

    }

    .info {
        padding-left: 50px;
        position: relative;
    }

    .voter {

        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;

        .score {
            display: block;
            font: 18px/1 'MG Thin', sans-serif;
            color: #fff;
            padding: 5px 0;
            text-align: center;
        }

        button {
            display: block;
            width: $BASE_ARROW_SIZE;
            height: $BASE_ARROW_SIZE;
            padding: 0;
            border: 0;
            border-radius: 0;
            background: $NO_VOTE;
            color: $NO_VOTE;
            margin: 0 auto;
            position: relative;
            color: transparent;
            visibility: hidden;
            font-size: 1px;
        }

        .upvote:before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border: $BASE_ARROW_SIZE solid transparent;
            border-bottom-color: $NO_VOTE;
            top: $BASE_ARROW_SIZE * 2 * -1;
            left: $BASE_ARROW_SIZE / 2 * -1;
        }

        .downvote:before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border: $BASE_ARROW_SIZE solid transparent;
            border-top-color: $NO_VOTE;
            top: $BASE_ARROW_SIZE;
            left: $BASE_ARROW_SIZE / 2 * -1;
        }

        &.upvote {

            .score {
                color: $UP_VOTE;
                font-family: 'MG Regular';
            }

            .upvote {
                background: $UP_VOTE;
                &:before {
                    border-bottom-color: $UP_VOTE;
                }
            }
        }

        &.downvote {

            .score {
                color: $DOWN_VOTE;
                font-family: 'MG Regular';
            }

            .downvote {
                background: $DOWN_VOTE;
                &:before {
                    border-top-color: $DOWN_VOTE;
                }
            }
        }

        .logged-in & {
            margin-top: 15px;
            button {
                visibility: visible;
            }
        }

    }

    .post-content {
        @include border-box();
        padding-left: 10px;
        width: 24%;
        float: right;
        border-left: 1px solid #222;
    }

    .viewer-controls  {
        .transport {
            padding: 100px 0 0;
            height: 100px;
            width: 50px;
            overflow: hidden;
            background: rgba(255, 255, 255, 0.2);
            border: 0;
            position: absolute;
            top: 50%;
            margin: -50px;
            &.next {
                border-radius: 50px 0 0 50px;
                right: 50px;
                &:after {
                    content: '';
                    display: block;
                    border: 10px solid transparent;
                    border-left: 10px solid #fff;
                    margin-top: -10px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                }
            }
            &.previous {
                border-radius: 0 50px 50px 0;
                left: 50px;
                &:after {
                    content: '';
                    display: block;
                    border: 10px solid transparent;
                    border-right: 10px solid #fff;
                    margin-top: -10px;
                    position: absolute;
                    top: 50%;
                    right: 50%;
                }
            }
        }

        .close {
            background: transparent;
            color: #fff;
            border: 0;
            position: absolute;
            right: 7px;
            top: 0;
            font-size: 36px;
        }

    }

    &.screensaver {
        .post-image {
            width: 100%;
        }

        .post-content {
            display: none;
        }

        .transport {
            display: none !important;
        }

    }

}

#globalUploaderProgress {
    position: fixed;
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    display: none;
    canvas {
        padding: 20px;
    }
}

.search-controls {
    float: right;
    display: none;
    margin-top: 10px;
    .search-results & {
        display: block;
    }
}

.paging {
    display: flex;
    justify-content: center;
    list-style: none;
    li {
        @include border-box();
        text-align: center;
        font: 14px/1 'MG Thin', sans-serif;
        margin: 5px;
        min-width: 26px;
        &.current {
            color: #fff;
            background: $PINK;
            padding: 6px;
        }
    }
    a {
        @include border-box();
        display: block;
        color: $PINK;
        text-decoration: none;
        border: 1px solid $PINK;
        padding: 5px;
        min-width: 26px;
    }

    // Stupid, but the only spot with paging right now is the gallery page
    // which looks kinda funky with no footer, so add some spaace
    margin-bottom: 100px;
}