@import "mixins";

@font-face {
    font-family: 'MG Regular';
    src: url('/static/fonts/mission_gothic_regular-webfont.eot');
    src: url('/static/fonts/mission_gothic_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/mission_gothic_regular-webfont.woff') format('woff'),
         url('/static/fonts/mission_gothic_regular-webfont.ttf') format('truetype'),
         url('/static/fonts/mission_gothic_regular-webfont.svg#mission_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MG Thin';
    src: url('/static/fonts/mission_gothic_thin-webfont.eot');
    src: url('/static/fonts/mission_gothic_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/mission_gothic_thin-webfont.woff') format('woff'),
         url('/static/fonts/mission_gothic_thin-webfont.ttf') format('truetype'),
         url('/static/fonts/mission_gothic_thin-webfont.svg#mission_gothicthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes imageFadeOut {
    0% { opacity: 100%; }
    100% { opacity: 70%; }
}
@-moz-keyframes imageFadeOut {
    0% { opacity: 100%; }
    100% { opacity: 70%; }
}
@-o-keyframes imageFadeOut {
    0% { opacity: 100%; }
    100% { opacity: 70%; }
}
@keyframes imageFadeOut {
    0% { opacity: 100%; }
    100% { opacity: 70%; }
}

$LIGHT_GREY: #eee;
$GREY: #ddd;
$DARK_GREY: #666;
$PINK: #e94e77;
$YELLOW: #ffed77;
$DARK_YELLOW: #736400;

$NAV_INDEX: 100;

// Itty bitty reset
* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 86px;
}

input {

    &[type="text"] {
        font: 18px/1 'MG Thin', sans-serif;
        padding: 10px 10px 5px;
        border: 1px solid $GREY;
        border-radius: 2px;
        width: 250px;
    }

    &[type="file"] {
        position: absolute;
        left: -9999px;
        top: -9999px;
    }

}

button {
    border-radius: 2px;
    border: 1px solid $GREY;
    background: $LIGHT_GREY;
    color: $DARK_GREY;
    padding: 10px 10px 5px;
    font: 18px/1 'MG Thin', sans-serif;
    cursor: pointer;
}

a {
    color: $PINK;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

}

header {

    position: fixed;
    background: url(/static/images/sidebar_bg.png);
    border-right: 1px solid #ddd;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 20px 15px;
    border-bottom: 1px solid $GREY;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: $NAV_INDEX;

    h1 {
        font: 36px/1 'MG Thin', sans-serif;
        float: left;
        a {
            text-decoration: none;
            color: #000;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .search {
        float: right;
        .textSearch {
            position: relative;
            padding-right: 25px;
            &:after {
                font: bold 24px sans-serif;
                content: '\00b7';
                display: block;
                position: absolute;
                right: 10px;
                top: -7px;
                color: $DARK_GREY;
            }
        }

    }

    nav {
        float: left;
    }

    .primary-nav {

        margin-left: 20px;

        > li {

            font: 18px/1 'MG Regular', sans-serif;

            position: relative;
            display: inline-block;
            border: 1px solid transparent;
            padding: 10px;

            a {
                color: #000;
                text-decoration: none;
                &.user-profile {
                    color: $PINK;
                }
            }

            .secondary-nav {
                list-style: none;
                display: none;
                position: absolute;
                left: -1px;
                top: 37px;
                background: #fff;
                border: 1px solid $GREY;
                padding: 10px;
                box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);

                &.source-list {
                    width: 400px;
                    overflow: hidden;
                    li {
                        float: left;
                        width: 170px;
                        padding: 5px;
                    }
                }

                input,
                label {
                    font-family: 'MG Thin', sans-serif;
                    cursor: pointer;
                }

            }


            &.has-secondary-nav:hover {
                cursor: pointer;
                &:before {
                    display: block;
                    position: absolute;
                    content: '';
                    top: 0;
                    left: -1px;
                    bottom: 0;
                    right: 0;
                    background: #fff;
                    border: 1px solid $GREY;
                    border-bottom: 0;
                    clip: rect(0, 155px, 38px, -1px);
                    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
                    z-index: -1;
                }
                .secondary-nav {
                    display: block;
                    z-index: -2;
                }
            }
        }

    }

}

#content {
    padding: 0 10px;

    .contentTitle {
        overflow: hidden;
    }

    #title {
        font: 30px/1 'MG Thin', sans-serif;
        padding: 15px 0 10px;
        float: left;
        &.hidden {
            display: none;
        }
    }

    #clearSearch {
        border: 0;
        background: transparent;
        font: 14px/1 'MG Thin', sans-serif;
        color: $DARK_GREY;
        cursor: pointer;
        display: none;
        padding-left: 20px;
        position: relative;
        top: 24px;
    }

}

#images {
    .image-row {
        overflow: hidden;
        margin-bottom: 10px;
        padding: 5px 0;
        .image {
            display: block;
            border: 0;
            text-decoration: none;
            position: relative;
            float: left;
            margin-left: 20px;
            height: 250px;
            @include image-shadow();
            background-size: cover;
            background-position: center center;
            overflow: hidden;

            .hideNsfw &.nsfw {
                @include image-label('NSFW');
                &:hover .nsfw {
                    display: none;
                }
            }

            .hideNsfw & .nsfw,
            .hidden {
                display: block;
                position: absolute;
                min-width: 125%;
                min-height: 125%;
                top: -30px;
                left: -30px;
                bottom: -30px;
                right: -30px;
                filter: url(/static/scss/filters.svg#nsfwBlur);
                -ms-filter: blur(15px);
                -webkit-filter: blur(15px);
            }

            &:first-child {
                margin-left: 0;
            }

            .information {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.75);
                overflow: hidden;

                dt {
                    position: absolute;
                    left: -9999px;
                    top: -9999px;
                }

                dd {
                    color: #fff;
                    padding: 5px 10px;
                    font: 14px/1 'MG Thin';
                    letter-spacing: 1px;

                    &.score {
                        float: right;
                        background: url(/static/images/upvotes.png) no-repeat left 7px;
                        padding-left: 12px;
                    }

                    &.posted {
                        float: right;
                    }

                    &.sub {
                        float: left;
                    }

                }

            }

        }
    }

    .more-row {
        border-top: 1px solid $GREY;
        position: relative;

        button {
            border: 0;
            background: none;
            font: 18px/1 'MG Thin', sans-serif;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            cursor: pointer;

            &:after {
                display: block;
                content: '';
                position: absolute;
                left: 50%;
                margin-left: -7px;
                bottom: 10px;
                border: 7px solid transparent;
                border-top-color: $PINK;
            }

        }
    }

    // Galleries
    &.gallery {
        .curated {
            font: 18px 'MG Thin', sans-serif;
        }
        img {
            max-width: 100%;
            display: block;
            margin: 0 auto 25px;
            @include image-shadow();
        }
    }

}

button.singleSourceSearch {
    background: 0;
    border: 0;
    font: 18px/1 'MG Thin', sans-serif;
    color: $PINK;
    display: inline;
    cursor: pointer;
    padding: 0;
    &:hover {
        text-decoration: underline;
    }
}

#supporting {
    display: none;
    &.hasContent {
        display: block;
        float: left;
        width: 300px;
        margin-left: 10px;

        & + #content {
            margin-left: 310px;
        }

    }

    h2 {
        font: 30px/1 'MG Thin', sans-serif;
        margin: 15px 0 10px;
    }

    h3 {
        font: 18px/1 'MG Regular', sans-serif;
        margin: 15px 0 10px;
    }

    p {
        font: 18px/1.4 'MG Thin', sans-serif;
        margin: 5px 0;
    }

    a {
        color: $PINK;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .userProfile {
        .avatar {
            @include image-shadow();
        }

        table {

            font: 18px/1 'MG Thin', sans-serif;
            display: block;
            width: 100%;

            thead {
                @include hide-element();
            }

            tr {
                overflow: hidden;
                display: block;
                width: 250px;
                margin-bottom: 10px;
            }

            td {
                display: block;
                &.thumb {
                    float: left;
                    padding-right: 10px;
                    img {
                        @include image-shadow();
                    }
                }

                &.keywords {
                    font-family: 'MG Regular';
                }

            }
        }

    }

}

.searchDetails {
    img {
        @include image-shadow();
    }

    p {
        margin: 10px 0;
        &.posted {
            background: $YELLOW;
            color: $DARK_YELLOW;
            border: 1px solid $DARK_YELLOW;
            border-radius: 2px;
            padding: 10px;
        }
    }

    #postImage {
        margin-top: 10px;
        width: 100%;
    }

}

#dragdrop {

    @include modal();
    border: 5px dashed $DARK_GREY;
    background: $GREY;
    opacity: 0.9;
    border-radius: 5px;
    z-index: $NAV_INDEX + 1;

    div {
        font: 30px/1 'MG Regular', sans-serif;
        box-sizing: border-box;
        width: 50%;
        height: 100%;
        float: left;

        &:first-child {
            border-right: 5px dashed $DARK_GREY;
        }

        &.hover {
            background: $PINK;
        }

        p {
            text-align: center;
            position: relative;
            top: 50%;
            margin-top: -12px;
        }

    }

}

#upload {
    @include modal();
    @include image-shadow();
    background: #fff;
    z-index: $NAV_INDEX + 1;

    h2 {
        padding: 20px;
        background: $PINK;
        color: #fff;
        font: 30px/1 'MG Thin', sans-serif;
    }

    .form {
        padding: 10px 20px;
        background: $GREY;

        fieldset {
            display: inline;
            border: 0;
            position: relative;
        }

        legend {
            display: none;
        }

        .finalize {
            padding-left: 20px;
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 5px;
                bottom: 5px;
                left: 8px;
                border-left: 1px solid $DARK_GREY;
            }
        }

    }

    .urlUpload {
        position: relative;
        padding-right: 25px;
        &:after {
            font: bold 24px sans-serif;
            content: '\00b7';
            display: block;
            position: absolute;
            right: 10px;
            top: -7px;
            color: $DARK_GREY;
        }
    }

    .repost {
        p {
            font: 18px/1 'MG Thin', sans-serif;
            margin-bottom: 10px;
        }

        button {
            display: inline-block;
            margin-right: 10px;
        }
    }

    ul {
        list-style: none;
        position: absolute;
        left: 20px;
        right: 20px;
        top: 130px;
        bottom: 20px;
        overflow: scroll;
        overflow-x: hidden;

        li {
            position: relative;
            padding: 20px 0;
            border-top: 1px dotted $GREY;
            overflow: hidden;
            &:first-child {
                border-top: 0;
            }

            &.uploading {
                font: 18px/1 'MG Thin', sans-serif;
                overflow: hidden;
                canvas {
                    float: left;
                }
            }

        }

        img {
            @include image-shadow();
            float: left;
            margin-right: 20px;
            width: 150px;
            height: 150px;
        }
    }

    .caption {
        display: block;
        margin-bottom: 10px;
    }

    .remove {
        display: block;
        border: 0;
        background: transparent;
        padding-left: 0;
        margin-top: 10px;
        color: $PINK;
        &:hover {
            text-decoration: underline;
        }
    }

    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 36px;
        padding: 0 10px;
        height: 34px;
    }

    .albumTitle {
        display: none;
    }

}

.user-galleries {

    list-style: none;

    li {
        overflow: hidden;
        margin-bottom: 20px;
    }

    img {
        float: left;
        @include image-shadow();
        margin-right: 20px;
    }

    h3 {
        font: 24px/1 'MG Thin', sans-serif;
        padding-top: 3px;
        margin-bottom: 5px;
    }

    p {
        font: 16px/1 'MG Regular', sans-serif;
    }

    .edit-album {
        border: 0;
        height: 22px;
        width: 0;
        overflow: hidden;
        color: #fff;
        background: none;
        position: relative;
        &:before {
            display: block;
            content: '';
            height: 20px;
            width: 20px;
            background: url(/static/images/edit.png) no-repeat center center;
            position: absolute;
            top: 6px;
            left: 0;
        }
    }

    .view-gallery {
        font: 18px 'MG Thin', sans-serif;
        padding: 10px 10px 10px 0;
        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;
            border: 5px solid transparent;
            border-left: 5px solid $PINK;
            top: 16px;
            right: -5px;
        }
    }

}

#viewer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.97);
    z-index: $NAV_INDEX + 1;
    display: none;
    padding: 20px 40px 20px 20px;

    h2 {
        font: 24px 'MG Regular', sans-serif;
        color: #fff;
    }

    h3 {
        color: #fff;
        font: 18px 'MG Thin', sans-serif;
        margin-bottom: 10px;
    }

    p {
        color: #fff;
        font: 18px 'MG Thin', sans-serif;
    }

    .vertical-align {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    img {
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle;
    }

    .post-image {
        @include border-box();
        float: left;
        width: 75%;
        height: 100%;
        padding-right: 10px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    &.loading {
        background-image: url(/static/images/loading.gif);
        background-repeat: no-repeat;
        background-position: center center;

        img {
            -webkit-animation: imageFadeOut 1s;
            -moz-animation: imageFadeOut 1s;
            -o-animation: imageFadeOut 1s;
            animation: imageFadeOut 1s;
        }

    }

    .post-content {
        @include border-box();
        padding-left: 10px;
        width: 24%;
        float: right;
        border-left: 1px solid #222;
    }

    .viewer-controls  {
        .transport {
            padding: 100px 0 0;
            height: 100px;
            width: 50px;
            overflow: hidden;
            background: rgba(255, 255, 255, 0.2);
            border: 0;
            position: absolute;
            top: 50%;
            margin: -50px;
            &.next {
                border-radius: 50px 0 0 50px;
                right: 50px;
                &:after {
                    content: '';
                    display: block;
                    border: 10px solid transparent;
                    border-left: 10px solid #fff;
                    margin-top: -10px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                }
            }
            &.previous {
                border-radius: 0 50px 50px 0;
                left: 50px;
                &:after {
                    content: '';
                    display: block;
                    border: 10px solid transparent;
                    border-right: 10px solid #fff;
                    margin-top: -10px;
                    position: absolute;
                    top: 50%;
                    right: 50%;
                }
            }
        }

        .close {
            background: transparent;
            color: #fff;
            border: 0;
            position: absolute;
            right: 7px;
            top: 0;
            font-size: 36px;
        }

    }

    &.screensaver {
        .post-image {
            width: 100%;
        }

        .post-content {
            display: none;
        }

        .transport {
            display: none !important;
        }

    }

}

#globalUploaderProgress {
    position: fixed;
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    display: none;
    canvas {
        padding: 20px;
    }
}