* { margin:0; padding:0; }
ul { list-style:none; }
a img { border:0; }

.redditThumb { display:none; }

h1 { height:57px; overflow:hidden; }
button { border:0; font:bold 18px/1 sans-serif; padding:7px 20px; text-transform:uppercase; }
button:hover { cursor:pointer; }

.rb-header .rb-button, .ss-controls button { position:absolute; top:12px; background-image:url(/view/reddit-booru/images/icons-sprite.png); background-repeat:no-repeat; width:32px; height:0; padding:32px 0 0; border:4px solid #000; overflow:hidden; box-sizing:content-box; -moz-box-sizing:content-box; }
#searchButton { right:15px; background-position:0 -32px; }
#uploadButton { right:62px; }
#screenButton { right:109px; background-position:0 -128px; }

#images { padding:15px 0 0 15px; margin:0 auto; overflow:hidden; }
#images .image { float:left; margin:0 15px 15px 0; position:relative; overflow:hidden; width:180px; height:180px; }
#images .image img { display:block; width:180px; height:180px; background:url(images/ajax.gif) no-repeat center center; }
#images .image .source { right:0; bottom:0; }
#images .image.nsfw,
#images .imageSearchResult.nsfw { background:url(images/nsfw.jpg) no-repeat center bottom; border-color:#e94e77 !important; }
#images .image.nsfw img, 
#images .imageSearchResult.nsfw img { position:absolute; top:-9999px; }
#images .image.nsfw:hover img,
#images .imageSearchResult.nsfw:hover img { position:static; }
#images .more { width:180px; height:0; padding-top:180px; overflow:hidden; cursor:pointer; }
#images .more:hover { background-position:0 -180px; }

#images.images .image { float:none; margin:0 0 25px; text-align:center; }
#images.images .image img { max-width:100%; width:auto; display:inline-block; height:auto; box-sizing:border-box; -moz-box-sizing:border-box; }
#images.images .more { display:none; }

#overlay { position:fixed; top:0; left:0; bottom:0; right:0; background:url(images/overlay_bg.png); display:none; }
#overlay.screenSaver { background:#000; }
#overlay.screenSaver .ss-controls { display:block; }

.form { width:600px; margin:58px auto 0; background:#fff; }
.form h2 { font:bold 18px/1 sans-serif; text-transform:uppercase; padding:10px; }
.form fieldset { margin:0 10px 20px; }
.form legend { margin:0 10px; text-transform:uppercase; font:18px/1 sans-serif; }
.form .field { padding:10px; overflow:hidden; }
.form .field > label, .form .subField > label { text-transform:uppercase; font:18px/1 sans-serif; padding-bottom:5px; }
.form .subField { width:50%; float:left; padding-left:10px; box-sizing:border-box; -moz-box-sizing:border-box; }
.form .subField:first-child { padding-left:0; }
.form input[type="text"] { width:100%; box-sizing:border-box; -moz-box-sizing:border-box; padding:3px; font:14px sans-serif; }
.form .checkboxList { overflow:hidden; }
.form .checkboxList li { display:block; float:left; padding-right:20px; width:115px; }
.form .checkboxList label { font:14px/1 sans-serif; padding-left:5px; }
.form .checkboxList li.singleLine { display:block; float:none; padding:10px 0; clear:both; width:auto; }
#btnSubmit { margin:10px auto; }
.form .tip { font:14px sans-serif; padding:10px; }
.buttons button { width:75%; display:block; margin:0 auto 15px; }

#uploadImagesForm ul { overflow:hidden; padding:10px; }
#uploadImagesForm li { display:block; width:90px; height:90px; float:left; margin:0 10px 10px 0; }
#uploadImagesForm li.uploading { background:url(images/ajax.gif) no-repeat center center; }
#uploadImagesForm li img { padding:29px; }
#uploadImagesForm .title { display:none; }

#images h2 { font:bold 24px/1 sans-serif; margin-bottom:10px; text-transform:uppercase; }
.imageSearchOriginal { float:left; margin-right:20px; }
.imageSearchOriginal img { max-width:580px; display:block; }
.imageSearchList { float:left; overflow:hidden; max-width:780px; }
.imageSearchResult { float:left; margin:0 10px 10px 0; position:relative; width:360px; height:180px; }
.imageSearchResult img { display:block; width:360px; height:180px; background:url(images/ajax.gif) no-repeat center center; }
.imageSearchResult span, #images span { position:absolute; bottom:0; padding:5px; background:url(images/overlay_bg.png); font:12px sans-serif; color:#fff; }
.imageSearchResult .source { left:0; }
.imageSearchResult .age { right:0; }
#images .imageSearchResult span.count { left:0; top:0; bottom:auto; }

.sourceMatch { overflow:hidden; }
.sourceMatch img { float:left; margin-right:20px; max-width:580px; display:block; }
.sourceInfo { float:left; }
.sourceInfo dt { font:bold 16px sans-serif; }
.sourceInfo dd { font:14px sans-serif; margin-bottom:5px; }
.sourceInfo ul { list-style:disc; padding-left:16px; }

#ifUpload { display:none; }

.ss-image img { position:absolute; max-height:100%; padding:10px 0; box-sizing:border-box; -moz-box-sizing:border-box; }
.ss-image img.new { display:none; }
.ss-controls { display:none; }
.ss-controls button { right:15px; top:15px; background-color:#000; }
.ss-controls button:hover { background-color:#000; border-color:#000; }
.ss-controls .play { background-position:0 -64px; }
.ss-controls .pause { background-position:0 -96px; }

footer { padding:15px; overflow:hidden; }
footer p { font:16px sans-serif; }
footer .disclaimer { float:left; }
footer .tools { float:right; }