* { margin:0; padding:0; }
ul { list-style:none; }
a img { border:0; }

.redditThumb { display:none; }

header { position:fixed; top:0; left:0; right:0; }
h1 { background:#e94e77; height:57px; overflow:hidden; }
button { background:#c6e5d9; border:0; color:#333; font:bold 18px/1 sans-serif; padding:7px 20px; text-transform:uppercase; }
button:hover { background:#9fcebc; color:#000; cursor:pointer; }

#searchButton { position:absolute; top:12px; right:15px; }
#uploadButton { position:absolute; top:12px; right:145px; }

#images { padding:15px 0 0 15px; margin:0 auto; overflow:hidden; margin-top:58px; }
#images .image { float:left; margin:0 15px 15px 0; }
#images .image img { display:block; width:180px; height:180px; background:url(images/ajax.gif) no-repeat center center; border:10px solid #f4ead5; }
#images .more { width:180px; height:0; padding-top:180px; overflow:hidden; background:url(images/more.png); cursor:pointer; border:10px solid #f4ead5; }
#images .more:hover { background-position:0 -180px; }

#images.images .image { float:none; margin:0 0 25px; text-align:center; }
#images.images .image img { max-width:100%; width:auto; display:inline-block; height:auto; box-sizing:border-box; -moz-box-sizing:border-box; }
#images.images .more { display:none; }

#overlay { position:fixed; top:0; left:0; bottom:0; right:0; background:url(images/overlay_bg.png); display:none; }
.form { border:10px solid #f4ead5; width:600px; margin:58px auto 0; background:#fff; }
.form h2 { background:#e94e77; color:#c6e5d9; font:bold 18px/1 sans-serif; text-transform:uppercase; padding:10px; }
.form .field { padding:10px; overflow:hidden; }
.form .field > label, .form .subField > label { text-transform:uppercase; font:18px/1 sans-serif; padding-bottom:5px; }
.form .subField { width:50%; float:left; padding-left:10px; box-sizing:border-box; -moz-box-sizing:border-box; }
.form .subField:first-child { padding-left:0; }
.form input[type="text"] { width:100%; box-sizing:border-box; -moz-box-sizing:border-box; padding:3px; font:14px sans-serif; }
.form .checkboxList li { display:inline; padding-right:20px; }
.form .checkboxList label { font:14px/1 sans-serif; }
#btnSubmit { margin:10px auto; }
.form .tip { font:14px sans-serif; padding:10px; }
.buttons button { width:75%; display:block; margin:0 auto 15px; }

#uploadImagesForm ul { overflow:hidden; padding:10px; }
#uploadImagesForm li { display:block; width:90px; height:90px; float:left; margin:0 10px 10px 0; }
#uploadImagesForm li.uploading { background:url(images/ajax.gif) no-repeat center center; }
#uploadImagesForm li img { padding:29px; }
#uploadImagesForm .title { display:none; }

#images h2 { font:bold 24px/1 sans-serif; margin-bottom:10px; text-transform:uppercase; }
.imageSearchOriginal { float:left; margin-right:20px; }
.imageSearchOriginal img { max-width:580px; border:10px solid #f4ead5; display:block; }
.imageSearchList { float:left; overflow:hidden; max-width:780px; }
.imageSearchResult { float:left; margin:0 10px 10px 0; position:relative; }
.imageSearchResult img { display:block; border:10px solid #f4ead5; width:360px; height:180px; background:url(images/ajax.gif) no-repeat center center; }
.imageSearchResult span { position:absolute; bottom:10px; padding:5px; background:url(images/overlay_bg.png); color:#fff; font:12px sans-serif; }
.imageSearchResult .source { left:10px; }
.imageSearchResult .age { right:10px; }
.imageSearchResult .count { left:10px; top:10px; bottom:auto; }

#ifUpload { display:none; }