/* awwnime specific styles */
h1 { background:url(images/header_bg.png); }
button { background:#ecf6f7; color:#000; }
button:hover { background:#6ad2e7; color:#000; }

#images .image img { border:10px solid #ecf6f7; }
#images .more { background:url(images/more.png); border:10px solid #ecf6f7; }

.form { border:10px solid #ecf6f7; }
.form h2 { background:#6ad2e7; color:#ecf6f7; }

.imageSearchOriginal img { border:10px solid #ecf6f7; }
.imageSearchResult img { border:10px solid #ecf6f7; }
.imageSearchResult span { color:#fff; }

.sourceMatch img { border:10px solid #ecf6f7; }